body {
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(228, 228, 228);
}

header {
  width: 100%;
  height: 120px;
  background-color: rgb(50, 50, 50);
}

header #logo {
  margin: 15px 75px 15px 75px;
  display: inline-block;
}

main {
  width: 960px;
  min-height: 20em;
  margin: auto;
  margin-top: 0;
  padding-bottom: 150px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main p {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 400px;
  font-size: .5em;
  text-align: center;
  margin: auto;
  padding: 2em;
  background-color: rgb(151, 151, 151);

}

#container {
  margin-top: 1em;
}

#chooseProduct{
  height: 240px;
  width: 740px;
  padding: 20px 0 20px 0;
  margin: auto;
  background-color: rgba(107, 107, 107, 0.2);
  border: 2px solid rgba(50, 50, 50, .2);
  border-radius: 10px;
}

#chooseProduct div {
  display: inline-block;
  height: 200px;
  width: 200px;
  vertical-align: middle;
  margin: 20px;
}

#chooseProduct img {
  border-radius: 10px;
  border: none;
  display: block;
  position: relative;
  object-fit: contain;
  background: white;
  width: 200px;
  height: 200px;
  margin: auto;
}

#chooseProduct img:hover {
  position: absolute;
  z-index: 1;
  transform: scale(1.3, 1.3);
  box-shadow: 0 0 15px rgb(0, 0, 0);
  transition: all .2s linear;
}

canvas {
  color: black;
  width: 100%;
  height: 480px;
}

footer {
  position: relative;
  margin-top: -150px;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(50, 50, 50);
  font-size: .5em;
  text-align: center;
  color: rgb(80, 80, 80);
}

footer div {
  width: 300px;
  vertical-align: bottom;
  margin: auto;
  padding-top: 6em;
}

footer p a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

footer a:hover {
  color: rgb(211, 9, 9);
}